$primaryColor: black;
$secondaryColor: #454545;
$invertedColor: white;
$error: #c10015;
$disabled: #6f6f6f;

$bg-dark: #091a28;
$bg-dark-secondary: #071521;
$bg-dark-light: #123450;
$dark-color: #ebf4f1;

$verticalPadding: 6vh;
$horizontalPadding: 12vw;